/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */

/*------------------------------------*\
    NAV
\*------------------------------------*/
#nav{
    list-style:none;
    font-weight:bold;
	margin-left:0px;
    margin-bottom:1px;
	margin-top:0px;
	padding-top:3px;
    float:left; /* Clear floats */
    width:100%;
	background:lightblue;
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
}
#nav a:Hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

#nav ul{
    background:#FFF;
    background:rgba(255,255,255,0);
	list-style:none;
	padding-left:0px;
    position:absolute;
    display:none;
}
#nav ul li{
    padding-top:1px;
    float:none;
}
#nav ul a{
    white-space:nowrap;
}

}
body{
	 display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
	background:black;
}
header{
	background-color:red;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}
nav{
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}
section{
	background-color:green;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
	display:flex;
	padding-top:40px;
	padding-bottom:180px;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
}
article{
	background-color:yellow;
	float:left;
	flex-grow: 3;
    flex-shrink: 0;
    flex-basis: 200px;
	margin-right:60px;
	
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}
aside{
	background-color:blue;
	float:right;
	width:230px;
	
}
#asidebar li{
	border:3px solid black;
	border-radius:1px;
	background-color:lightgreen;
	list-style:none;
	margin-top:2px;
	margin-bottom:2px;
	text-decoration:none;
}

#handlekurv{
	background:pink;
	float:left;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20px;
}
#handlekurv img{
	width:40px;
	top:40px;
	margin-top:20px;
}
.products{
	margin:1px;
	width:150px;
	height:100px;
}
.prodHold{
	margin:2px;
	flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 150px;
	background:teal;
	
}
footer{
	background-color:orange;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}
