/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */

/*------------------------------------*\
    NAV
\*------------------------------------*/


@media only screen and (max-device-width: 1000px) {

#nav{
    list-style:none;
    font-weight:bold;
	margin-left:0px;
    margin-bottom:1px;
	margin-top:0px;
	padding-top:3px;
    float:left; 
    width:205px;
    box-shadow: 1px 1px 7px black;
    background-color: lightslategray;
    border: 1px solid black;

}
#nav li{
    padding: 10px;
    float:left;
    margin-right:5px;
    position:relative;
}
#nav a{
    display:block;
    padding:5px;
    color:#fff;
    background-color: black;
    text-decoration:none;
    width:170px;
    height:40px;
}
#nav a:Hover{
    color:#fff;
   background-color: darkslategrey;
    text-decoration:underline;
}
body {
    width: 1000px;
    height: auto;
    border: solid 2px black;
        
background: rgb(221,221,221); /* Old browsers */
background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(223,223,223,1) 12%, rgba(226,226,226,1) 25%, rgba(220,220,220,1) 39%, rgba(215,215,215,1) 50%, rgba(207,207,207,1) 51%, rgba(210,210,210,1) 60%, rgba(215,215,215,1) 76%, rgba(212,212,212,1) 91%, rgba(210,210,210,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(12%,rgba(223,223,223,1)), color-stop(25%,rgba(226,226,226,1)), color-stop(39%,rgba(220,220,220,1)), color-stop(50%,rgba(215,215,215,1)), color-stop(51%,rgba(207,207,207,1)), color-stop(60%,rgba(210,210,210,1)), color-stop(76%,rgba(215,215,215,1)), color-stop(91%,rgba(212,212,212,1)), color-stop(100%,rgba(210,210,210,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(223,223,223,1) 12%,rgba(226,226,226,1) 25%,rgba(220,220,220,1) 39%,rgba(215,215,215,1) 50%,rgba(207,207,207,1) 51%,rgba(210,210,210,1) 60%,rgba(215,215,215,1) 76%,rgba(212,212,212,1) 91%,rgba(210,210,210,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(223,223,223,1) 12%,rgba(226,226,226,1) 25%,rgba(220,220,220,1) 39%,rgba(215,215,215,1) 50%,rgba(207,207,207,1) 51%,rgba(210,210,210,1) 60%,rgba(215,215,215,1) 76%,rgba(212,212,212,1) 91%,rgba(210,210,210,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(223,223,223,1) 12%,rgba(226,226,226,1) 25%,rgba(220,220,220,1) 39%,rgba(215,215,215,1) 50%,rgba(207,207,207,1) 51%,rgba(210,210,210,1) 60%,rgba(215,215,215,1) 76%,rgba(212,212,212,1) 91%,rgba(210,210,210,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(223,223,223,1) 12%,rgba(226,226,226,1) 25%,rgba(220,220,220,1) 39%,rgba(215,215,215,1) 50%,rgba(207,207,207,1) 51%,rgba(210,210,210,1) 60%,rgba(215,215,215,1) 76%,rgba(212,212,212,1) 91%,rgba(210,210,210,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */


}

#nettlogo{
    box-shadow: 1px 1px 5px black;
    padding: 5px;
    border: solid 1px;
    margin: 20px;
    margin-left: 350px;
    background-color: white;
}


h2 {
    padding-top: 20px; 
    padding-left: 20px;
    padding-bottom: 10px;
    margin: auto;
}

h3 {
    color: grey;
    padding-left: 20px;
    margin: auto;
}
section{
	height:auto;
	width:750px;
    float:right;
}
article{
    margin: 20px;
	background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
	float:left;
	width:700px;
	left:50px;
	top:150px;
}
aside{
 padding:10px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    margin: 20px;
	background-color:white;
    float: left;
	width:63%;
	height: auto;
}
#asidebar li{
    margin:2px;
	border:3px solid black;
	border-radius:1px;
	background-color:lightgreen;
	list-style:none;
	margin-top:2px;
	margin-bottom:2px;
	text-decoration:none;
}
#handlekurv{
	background:pink;
	width:300px;
	height:auto;
	float:right;
	position:relative;
}
#handlekurv img{
	width:40px;
	top:40px;
	margin-top:20px;
}

.products{
   
	width:500px;
    height:auto;
	margin-left: auto;
    margin-right: auto;
}
.prodHold{
	margin:20px;
	height: 450px;
	width:500px;
	float:left;
    box-shadow: 2px 2px 7px grey;
    border: 2px solid black;
}
footer{

  margin: auto;
    padding: 8px;
    text-align: center;
    clear:both;
	background-color: lightslategray;
	height:20px;
}
.prodbilde{
    float: left;
    width: 400px;


}
.minbilde{
    float: left;
    width: 400px;

}
}